@import "vendor/normalize";

$blue-button: #007AFF;
$blue-button-hover: #0268d7;
$white: #FFFFFF;
$input-bg: #eae9e9;
$error: #BF0404FF;

.title__m{
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}


@import "page/header";
@import "page/login";

@import "section/logo";
@import "section/button";
@import "section/allUsers";
@import "section/paginations";
@import "section/input";
